.env
/complete_package/
/claim_letters/
/pdf_reports/
/test_output/
/venv/
/claim_letters/
/html_reports/
/misc/
/test_output/
/complete_package/

# Python cache
__pycache__/
/app/__pycache__/
app/utils/__pycache__/
app/analyzer/__pycache__/
app/claim_letters/__pycache__/
*.py[cod]
*$py.class
*.so
.Python